body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #cecece;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Self defined styles*/
.lowerdivLine {
    border-bottom: solid;
    border-width: 2px;
    border-color: gray;
    width: 280px
}

.lowerdivLineLong {
    border-bottom: solid;
    border-width: 2px;
    border-color: gray;
    width: 500px; 
}
.labelWidth{
    width: 400px;
}

.labelColor {
    color: royalblue;
}

.labelstateNormal{
    color: greenyellow;
}

.labelStateBlocked {
    color: greenyellow;
}