@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div classs="form-group">
    <input name="checkboxBuch" value="true" type="checkbox" />
    <label class="control-label">@ViewData["id"]</label>
    <br />
    <input name="checkboxBlueRay" value="true" type="checkbox" />
    <label class="control-label">Blue Ray</label>
</div>