@model IEnumerable<BuchShop.Geschaeftslogik.Domaenenobjekte.Adresse>

<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Strasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postleitzahl)
            </th>
            <th></th>
        </tr>
    </thead>
</table>