@model BuchShop.Geschaeftslogik.Domaenenobjekte.Artikel;

@{
    ViewData["Title"] = "Warenkorbansicht";
}

<h2>@ViewData["Title"]</h2>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h4>
            @Model.Preis
        </h4>
    </div>
    <br />

</body>
</html>
